    <footer class="page-footer font-small bg-dark text-white">	
      <div class="text-center py-4">&copy; 2023 Copyright: 
        <a href="/">Bookshop</a>
      </div>
    </footer>
  </body>
</html>
