<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            aria-haspopup="true"
            aria-expanded="false"
            >Categories</a
          >
          <div class="dropdown-menu">
            <% categories.forEach(function(category){ %>
            <a class="dropdown-item" href="/browse/cat/<%=category.name%>"><%= category.name %></a>
            <% }); %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            aria-haspopup="true"
            aria-expanded="false"
            >Stores</a
          >
          <div class="dropdown-menu">
            <% stores.forEach(function(store){ %>
            <a class="dropdown-item" href="/browse/store/<%=store%>"><%= store %></a>
            <% }); %>
          </div>
        </li>

        <% if (req.isAuthenticated() && !req.user.isAdmin){ %>
        <li class="nav-item">
          <a class="nav-link" href="/user/cart">
            Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </li>
        <% } %> <% if (req.isAuthenticated() && req.user.isAdmin){ %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Dashboard</a>
        </li>
        <% } %>
      </ul>

      <form class="form-inline my-2 my-lg-0" method="POST" action="/browse">
        <input class="form-control mr-sm-2" type="text" name="data" placeholder="Search" />
        <button class="btn btn-secondary my-2 my-sm-0 fa fa-search" type="submit"></button>
      </form>

      <ul class="navbar-nav">
        <li class="nav-item my-2 my-lg-0">
          <% if (req.isUnauthenticated()){ %>
          <a class="nav-link" href="/user/login">Login</a>
          <% } else{ %>
          <a class="nav-link" href="/user/logout">Logout</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
