<header>
  <div class="container">
    <a routerLink="/" class="logo">Home</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/browse/books">Categories</a>
        </li>
        <li>
          <a routerLink="/browse/books">Stores</a>
        </li>
        <li>
          <a routerLink="/browse/cart">Cart</a>
        </li>
        <li>
          <a routerLink="/browse/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/user/login">Login</a>
        </li>
        <li>
          <a routerLink="/user/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
